* {
  box-sizing: border-box;
}
body {
  /* background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%); */
  background-color: rgb(251, 225, 229);
  height: 100vh;
  margin: 0;
}

.w {
  width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #2d2e2f;
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}


/* 更改滚动条样式 */
/* 滚动条整体部分 可以设置宽度高度等 */
::-webkit-scrollbar
{
    width: 10px;
    /* 高度：x 轴方向的滚动条高度 */
    height: 10px;
    background-color: transparent;
}
/* 外出轨道 */
::-webkit-scrollbar-track
{
    border-radius: 20px;
    background-color: transparent;
}
/* 滚动的滑块 */
::-webkit-scrollbar-thumb
{
    border-radius: 20px;
    background-color: #ed4861;
}