/* 顶部 */
.top {
  height: 30px;
  background-color: rgb(239, 199, 205);
}
.top-content {
  position: relative;
  height: 30px;
}
.top-content i,a,span {
  position: absolute;
  top: 6px;
}
.top-content .fangiz {
  left: 0;
}
.top-content .title {
  left: 18px;
  font-size: 12px;
}
.top-content a:hover {
  color: #d58a95;
}
.top-content .line {
  left: 120px;
  top: 3px;
  color: #e7eaed;
}
.top-content .greetings {
  left: 140px;
  font-size: 12px;
}
.top-content .login {
  left: 250px;
  font-size: 12px;
  color: rgb(221, 88, 110);
}
.top-content .registered {
  left: 290px;
  font-size: 12px;

}
.top-content .icon-youjian_o {
  right: 265px;
  font-size: 18px;
}
.top-content .mymessage {
  right: 210px;
  font-size: 12px;
}
.top-content .linetwo {
  right: 190px;
  top: 3px;
  color: #e7eaed;
}
.top-content .icon-icon03 {
  right: 160px;
}
.top-content .myself {
  font-size: 12px;
  right: 110px;
}
.top-content .linethree {
  right: 90px;
  top: 3px;
  color: #e7eaed;
}
.top-content .icon-shoucangjia {
  right: 60px;
}
.top-content .favorites {
  right: 20px;
  font-size: 12px;
}

/* ==================================================== */
/* header */
.header {
  position: relative;
  height: 100px;
}
.header .logo {
  position: absolute;
  left: 10px;
  top: 10px;
}
.header h1 {
  position: absolute;
  top: 5px;
  left: 85px;
  color: #d58a95;
  text-shadow: 1px 1px 1px #e4a205;
}
.header .separated {
  position: absolute;
  left: 200px;
  top: 10px;
  font-size: 50px;
  color: #efc7cd;
}
.header h2 {
  position: absolute;
  left: 230px;
  top: 10px;
  color: #d58a95;
  text-shadow: 1px 1px 1px #ecd59f;
}
.header .search {
  position: absolute;
  top: 30px;
  left: 600px;
  width: 350px;
  height: 40px;
  background: none;
  outline: none;
  border: 2px solid #ec9ba7;
}
.header .submit {
  position: absolute;
  left: 950px;
  top: 30px;
  background-color: #ec9ba7;
  border: none;
  width: 60px;
  height: 40px;
  color: #e7eaed;
  font-size: 20px;
}
.header .submit:hover {
  color: #d58a95;
  cursor: pointer;

}

/* ==================================================== */
/* top-nav */
.top-nav {
  position: relative;
  height: 50px;
  background-color: #ee8796;
}
.top-nav .ul-top {
  margin-left: 50px;
}
.top-nav .ul-top li  {
  float: left;
  width: 100px;
  height: 50px;
  transition: all .5s;
  margin-left: 20px;
}
.top-nav .ul-top li:hover {
  background-color: #ed6f82;
  border-radius: 3px;
}
.top-nav .ul-top li a {
  position: absolute;
  font-size: 20px;
  line-height: 40px;
  margin-left: 28px;
  color: #e60e2e;
  font-weight: bold;
  /* text-shadow: 1px 1px 4px #d58a95; */
}


/* ==================================================== */
/* home-banner */
.home-banner {
  position: relative;
  margin-top: 20px;
  height: 500px;
}
.home-banner .swiper {
  width: 600px;
  height: 400px;
  border-radius: 5px;
}
.shuffling .swiper img {
  width: 600px;
  height: 400px;
}
.home-banner .video {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-right: 0px;
  width: 700px;
}
.home-banner .left-banner {
  position: absolute;
  width: 230px;
  height: 500px;
  background-color: rgb(233, 162, 162);
  transition: all .5s;
}
.home-banner .left-banner:hover {
  box-shadow: 5px 5px 5px gray;
  transform: translateY(-5px);
  cursor: pointer;
}


.left-banner h2 {
  color: #ea2c2c;
  text-shadow: 1px 1px 1px white;
  margin-left: 20px;
}
.left-banner p {
  margin: 10px;
  font-size: 14px;
  color: #828c96;
  text-indent: 2em;
  position: absolute;
}
.left-banner .introduce1 {
  top: 50px;
  text-shadow: 1px 1px 1px pink;
}
.left-banner .introduce2 {
  top: 195px;
  color: #4f5c69;
}
.left-banner .introduce3 {
  top: 280px;
  color: #697d92;
}
.left-banner .bird {
  position: absolute;
  bottom: 0;
  width: 230px;
  height: 150px;
}


/* 右侧 */
.home-banner .right-banner {
  position: absolute;
  right: 0;
  width: 230px;
  height: 350px;
  background-color: #f1cbd1;
  transition: all .5s;
}
.home-banner .right-banner:hover {
  box-shadow: 5px 5px 5px gray;
  transform: translateY(-5px);
  cursor: pointer;
}
.home-banner .right-banner .recommend {
  padding-left: 10px;
  border-left: 10px solid red;
  border-radius: 5px;
}
.right-banner .redommend-ul  {
  padding-left: 10px;
}
.right-banner .redommend-ul li{
  margin: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #828c96;
  list-style: circle;
}
.right-banner .redommend-ul li:hover {
  cursor: pointer;
}
.right-bottom-banner {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 230px;
  height: 130px;
  background-color: #e2aab2;
  transition: all .5s;
}
.right-bottom-banner:hover {
  box-shadow: 5px 5px 5px gray;
  transform: translateY(-5px);
  cursor: pointer;
}

.right-bottom-banner i,span {
  position: absolute;
}
.right-bottom-banner i {
  color: rgb(226, 35, 67);
  font-size: 25px;
}
.right-bottom-banner span {
  font-size: 14px;
  color: #263b50;
  font-weight: bold;
}
.right-bottom-banner .icon-shumiao {
  top: 10px;
  left: 20px;
}
.right-bottom-banner .qimen {
  top: 35px;
  left: 20px;
}
.right-bottom-banner .icon-shuhuajuan {
  top: 10px;
  left: 95px;
}
.right-bottom-banner .shishu {
  top: 35px;
  left: 95px;
}
.right-bottom-banner .icon-toushi {
  top: 10px;
  left: 160px;
}
.right-bottom-banner .toushi {
  top: 35px;
  left: 160px;
}
.right-bottom-banner .icon-shuji {
  top: 70px;
  font-size: 30px;
  left: 160px;
}
.right-bottom-banner .gushu {
  top: 100px;
  left: 162px;
}
.right-bottom-banner .icon-pengyou {
  top: 70px;
  left: 95px;
  font-size: 28px;
}
.right-bottom-banner .zhuzi {
  top: 100px;
  left: 95px;
}
.right-bottom-banner .icon-_wenmingliyi {
  top: 70px;
  font-size: 28px;
  left: 20px;
}
.right-bottom-banner .liyi {
  top: 100px;
  left: 20px;
}


 

.home-banner .bottom-banner {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all .5s;
}
.home-banner .bottom-banner:hover {
  box-shadow: 5px 5px 5px gray;
  cursor: pointer;
}
.home-banner .bottom-banner .bgtottom {
  width: 700px;
  height: 170px;
}
