<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 引入vue -->
    <script src="../vue.js"></script>
</head>
<body>
    <div id="root">
        姓：<input type="text" v-model="firstName"><br/>
        名：<input type="text" v-model="lastName"><br/>
        姓名：<span>{{fullName}}</span>
    </div>
</body>
<script>
    Vue.config.productionTip = false;//阻止vue在启动时生成提示

    new Vue({
        el:'#root',
        data:{
            firstName: '张',
            lastName:'三',
        },
        computed: {
            fullName:{
                //get作用:
                get(){
                    return this.firstName + '-' + this.lastName
                }
            }
        }
    })

</script>
</html>